:root{
    --hit-margin:30px;
}

.tile{
    height:25%;
    width:100%;
    border-radius: 0;
    background-color: rgba(41, 41, 41,0);
    border-top: solid var(--hit-margin) rgba(0, 0, 0, 0);
    border-bottom: solid var(--hit-margin) rgba(0, 0, 0, 0);
    position: relative;
    top: calc(var(--hit-margin) - var(--hit-margin) * 2);
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.innertile{
    pointer-events: none;
    border-radius:5vh;
    height: 100%;
    width: 100%;
    background-color: rgb(31, 7, 7);
    box-shadow: 0px 15px rgb(41, 41, 41);
    border: solid 1px rgb(202, 54, 195);
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items:center;
    user-select: none;
}

.firsttile{
    display: flex;
    justify-content: center;
    align-items: center;
}
body,html{
    width: 100%;
    height:100%;
    max-height:100%;
    padding: 0px;
    margin:0px;
}

.Game{
    width: 100%;
    height:100%;
    max-height:100%;
    box-sizing:border-box;
    padding: 1px;
    margin:0px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    overflow: hidden;
}

.container {
	margin: 20px auto;
	max-width: 500px;
}

.slider{
    pointer-events: auto;
}

.thumb{
    width: 100%;
    background-color: rgb(253, 50, 243);
    pointer-events: auto;
    user-select: none;
    border-radius:5vh;
}

/* https://cssgradient.io/ */

input,button,select,div{
    -webkit-tap-highlight-color: transparent;
}


#canvas1{
    position: absolute;
    background: linear-gradient(0deg,rgba(145, 183, 253, 1) 0%, rgba(255, 179, 235, 1) 50%, rgba(145, 183, 253, 1) 100%);
    width: 100%;
    height: 100%;
}
#canvas2{
    position: absolute;
    background: transparent;
    width: 100%;
    height: 100%;
    filter: blur(1px);
    opacity: 0.5;
}
#canvas3{
    position: absolute;
    background: transparent;
    width: 100%;
    height: 100%;
    filter: blur(1px);
    opacity: 0.5;
}
#canvas4{
    position: absolute;
    background: transparent;
    width: 100%;
    height: 100%;
    filter: blur(1px);
}

.score{
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 11vw;
    letter-spacing: 0.5vw;
    text-shadow: 1px 1px 1px rgb(253, 246, 180),-1px -1px 1px rgb(253, 246, 180),-1px 1px 1px rgb(253, 246, 180),1px -1px 1px rgb(253, 246, 180), 1px 1px 5px rgb(88, 88, 88),-1px -1px 5px rgb(88, 88, 88),-1px 1px 5px rgb(88, 88, 88),1px -1px 5px rgb(88, 88, 88);
}

.titillium-web-bold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: normal;
}


.div-info{
    margin: 0;
    padding: 0;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.div-info-avancement{
    width: 100%;
    height: 5vw;
}

.div-info-pts{
    width:fit-content;
    padding: 0;
    margin: 0;
    letter-spacing: 0.3vw;
    font-size: 50px;
    position: relative;
}    
.div-info-pts::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    background: var(--color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px transparent;
    letter-spacing: 0.3vw;
    font-size: 50px;
}

.div-info-pts::before {
    background: none;
    content: attr(data-text);
    position: absolute;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 7px white;
    letter-spacing: 0.3vw;
    font-size: 50px;
}

.div-info-tile{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.text-mult{
    color: white;
    margin: -15px 0 0 0;
    padding: 0;
    text-shadow: 1px 1px 1px rgb(253, 246, 180),-1px -1px 1px rgb(253, 246, 180),-1px 1px 1px rgb(253, 246, 180),1px -1px 1px rgb(253, 246, 180), 1px 1px 3px rgb(88, 88, 88),-1px -1px 3px rgb(88, 88, 88),-1px 1px 3px rgb(88, 88, 88),1px -1px 3px rgb(88, 88, 88);
}

.ptsSliderInfo{
    margin: 0;
    padding: 0;
    position: absolute;
    top: -5vh;
    color: white;
    font-size: 3vh;
    font-weight: 400;
    text-shadow: 1px 1px 1px rgb(253, 246, 180),-1px -1px 1px rgb(253, 246, 180),-1px 1px 1px rgb(253, 246, 180),1px -1px 1px rgb(253, 246, 180), 1px 1px 2px rgb(88, 88, 88),-1px -1px 2px rgb(88, 88, 88),-1px 1px 2px rgb(88, 88, 88),1px -1px 2px rgb(88, 88, 88);
    opacity: 0;
}


.MusicInfoDiv{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: radial-gradient(circle,rgba(206, 145, 255, 1) 50%, rgba(255, 143, 255, 1) 100%);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MusicImg{
    border: none;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 20px;
    width: 80vw;
    height: auto;
}

.PlayBtn{
    height: 7vh;
    border: 2px solid white;
    border-radius: 3.5vh;
    background-color: rgba(255, 143, 255, 1);
}

.title,.author{
    font-family: 'Roboto', sans-serif;
    width: 80vw;
    text-align: left;
    color: white;
    padding: 0;
    margin: 0;
    word-wrap: break-word;
}

.author{
    font-size: 3vw;
    font-weight: 500;
}

.title{
    font-size: 4vw;
    font-weight: 700;
}


.LoadingDiv{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: radial-gradient(circle,rgba(206, 145, 255, 1) 50%, rgba(255, 143, 255, 1) 100%);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    color: white;
    transition: 0.5s;
}

.waitingScreen{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: radial-gradient(circle,rgba(206, 145, 255, 1) 50%, rgba(255, 143, 255, 1) 100%);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    color: white;
    transition: 0.5s;
}


.SpeedUpDiv{
    margin-top: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    opacity: 0;
    transition: 1s;
}

.SpeedUpText{
    width:fit-content;
    padding: 0;
    margin: 0;
    letter-spacing: 0.3vw;
    font-size: 40px;
    position: relative;
}    
.SpeedUpText::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    background: orange;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px transparent;
    letter-spacing: 0.3vw;
    font-size: 40px;
}

.SpeedUpText::before {
    background: none;
    content: attr(data-text);
    position: absolute;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 7px white;
    letter-spacing: 0.3vw;
    font-size: 40px;
}

.SpeedUpNumber{
    width:fit-content;
    padding: 0;
    margin: 0;
    letter-spacing: 0.3vw;
    font-size: 50px;
    position: relative;
}    
.SpeedUpNumber::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    background: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px transparent;
    letter-spacing: 0.3vw;
    font-size: 50px;
}

.SpeedUpNumber::before {
    background: none;
    content: attr(data-text);
    position: absolute;
    -webkit-text-fill-color: orange;
    -webkit-text-stroke: 7px orange;
    letter-spacing: 0.3vw;
    font-size: 50px;
}

.buttonBack{
    margin-top: 2vh;
    font-size:3vh;
    background: rgba(255, 143, 255, 1);
    color: white;
    width: 50vw;
    height: 10vh;
    border: 2px solid white;
    border-radius: 5vh;
}